@using Neighborly.Models

@model List<Event>

<h1>Community Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Event(s)</a>
</p>
<p>
    <a asp-controller="Events" asp-action="Delete">Delete Event(s)</a>
</p>

@if(Model.Count == 0)
{
    <p>Making sure this actually works</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Contact Email
            </th>
            <th>
                Type
            </th>
        </tr>
        @foreach (var evt in Model) 
        {
            <tr>
                <td>@evt.Id</td>
                <td>@evt.Name</td>
                <td>@evt.Description</td>
            </tr>
        }
    </table>
}