<h1>Community Events</h1>

<p>
    <a asp-controller="Events" asp-action="Add">Add Events</a>
</p>

@if(ViewBag.events.Count == 0)
{
    <p>Making sure this actually works</p>
}
else
{
    <table class="table">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
        </tr>
        @foreach (var evt in ViewBag.events) 
        {
            <tr>
                <td>@evt.Id</td>
                <td>@evt.Name</td>
                <td>@evt.Description</td>
            </tr>
        }
    </table>
}
