<h2>Let's Stay in touch!</h2>
<br>
<div><p>Address: US Highway 101, 
        Humptulips, WA 98552 
</p></div>   

<div><p>Phone: (360) 987-2335</p></div>  

<div><p>Email: Just_Neirborly.net</p></div>
